button.button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    transition: all 0.2s ease-in-out;
    padding: 0.5rem 1rem;
    &.small{
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
    }
    &:hover{
        background-color: var(--tertiary-color);
    }
}