div.settings {
    margin: 0;
    padding: 0.5rem 0.5rem;
}

div.ChartContainer {
    overflow-x: scroll;
    display: flex;
    align-items: start;
    border: 1px solid #ccc;

    div.chart {
        margin: 1rem;
    }
}