div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
    overflow: none;
    z-index: 1;
}

div.column {
    width: 300px;
    margin: 0 0.5rem;

    p.label {
        margin: 0.5rem 0;
        font-size: larger;
    }

    p:not(.label) {
        width: 100%;
        margin: 0;
        margin-top: 0.5rem;
    }

    &>input,
    &>select{
        width: 100%;
        height: 2.4rem;
        margin: 0;
        box-sizing: border-box;
        border: solid 1px #ccc;
        border-radius: 0.25rem;
    }
    div.select{
        position: absolute;
        width: 300px;
    }
}

div.func_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    *{
        flex: 1;
    }
}